{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false
  },
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error"
  },
  "extends": ["prettier"],
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true
  }
}
